worksheet.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="exams">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sequence" maxOccurs="1" type="xs:integer" />
        <xs:element maxOccurs="unbounded" name="exam">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="language" type="xs:string" />
              <xs:element name="header">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="element" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="questions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="topic">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element maxOccurs="unbounded" name="block">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="question" type="xs:string" />
                                <xs:element name="answer" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>